<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Compilations List</title>
</head>

<body>

<div class="container">
	<hr>
	<div class="row">
		<div class="col-sm">
			<button type="button" class="btn btn-outline-primary btn-lg btn-block" disabled>
				USER: <h6 sec:authentication="name" style="display:inline;"></h6>
			</button>
		</div>
		<div class="col-sm">
			<form action="#" th:action="@{/logout}" method="POST">
				<input type="submit" value="Logout" class="btn btn-outline-danger btn-lg btn-block" 
				onclick="if (!(confirm('Are you sure you want to logout?'))) return false"/>
			</form>
		</div>
		<div class="col-sm">
			<a th:href="@{/compilations/list(userName=${#authentication.name})}" class="btn btn-outline-warning btn-lg btn-block">
				MY COMPILATIONS
			</a>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm">
			<a th:href="@{/artists/list}" class="btn btn-primary btn-lg btn-block">
				ARTIST LIST
			</a>
		</div>
		<div class="col-sm">
			<button type="button" class="btn btn-success btn-lg btn-block" disabled>ALBUM LIST</button>
		</div>
		<div class="col-sm">
			<a th:href="@{/songs/list}" class="btn btn-primary btn-lg btn-block">
				SONG LIST
			</a>
		</div>
	</div>
	<hr>
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Title</th>
				<th>Song List</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="tempComp : ${compilations}">
				<td th:text="${tempComp.title}"></td>
				<td>
					<a th:href="@{/compilations/showSongsOnComp(compilationId=${tempComp.id})}"
						class="btn btn-primary btn-sm">
						Show Songs
					</a>
				</td>
			</tr>
		</tbody>
	</table>
	<a th:href="@{/compilations/showFormForAddComp(userName=${#authentication.name})}" class="btn btn-primary mb-3">
			New Compilation
	</a>
</div>
</body>
</html>























