<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Albums List</title>
</head>

<body>

<div class="container">
	<hr>
	<div th:replace="list-artists :: header"></div>
	<hr>
	<h3 th:text="${compilation.title}" style="text-transform: uppercase"></h3>
	<hr>
	<h5 sec:authorize="hasRole('ROLE_ADMIN')" th:text="' user: ' + ${compilation.userName}" style="text-transform: uppercase"></h5>
	<hr>
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Song</th>
				<th>Artist</th>
				<th sec:authorize="hasRole('ROLE_USER')">Remove from list</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="tempSong : ${songs}">
				<td th:text="${tempSong.title}"></td>
				<td th:text="${tempSong.artist.name}"></td>
				<td sec:authorize="hasRole('ROLE_USER')">
					<a th:href="@{/compilations/removeSong(songId=${tempSong.id}, compId=${compilation.id})}"
						class="btn btn-info btn-danger"
						onclick="if (!(confirm('Are you sure you want to remove this song from compilation?'))) return false">
						Remove
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>























