<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Add suggestion</title>
</head>
<body>
	<div class="container">
		<hr>
		<h4>Your favorite artist or song is not on the list? </h4>
		<h5>Please fill out the form below, and we will update the lists as soon as possible.</h5>
		<hr>
		<form action="#" th:action="@{/suggestions/save}" th:object="${suggestion}" method="post">
			<input type="text" th:field="*{artistName}" 
				class="form-control mb-4 col-4" placeholder="Artist name">
			<input type="text" th:field="*{songTitle}" 
				class="form-control mb-4 col-4" placeholder="Song title">
			<button type="submit" class="btn btn-info col-2">Submit</button>	
		</form>
		<hr>
		<a th:href="@{/}">Back to Home Page</a>
	</div>
</body>
</html>

